# Global things

TOOLCHAIN=tools
BASE=base
SRC=src
APP_SRC=apps
TESTS=tests

DEFAULT_HOST=i686-elf
HOST=DEFAULT_HOST
ARCH=i386

PHONY =

# # Cross compiler binaries
# CC = ${TARGET}-gcc
# NM = ${TARGET}-nm
# CXX= ${TARGET}-g++
# AR = ${TARGET}-ar
# AS = ${TARGET}-as
# OC = ${TARGET}-objcopy
# STRIP= ${TARGET}-strip
#
# CFLAGS ?= -O2 -g
# CPPFLAGS ?=
# LDFLAGS ?=
# LIBS ?=
#
# CFLAGS := $(CFLAGS) -ffreestanding -Wall -Wextra
# CPPFLAGS := $(CPPFLAGS) -D__is_kernel -Iinclude
# LDFLAGS := $(LDFLAGS)
# LIBS := $(LIBS) -nostdlib -lk -lgcc

# Cross compiler binaries
CC = ${TARGET}-gcc
LD = ${TARGET}-ld
NM = ${TARGET}-nm
CXX= ${TARGET}-g++
AR = ${TARGET}-ar
AS = ${TARGET}-as
OC = ${TARGET}-objcopy
STRIP= ${TARGET}-strip
CARGO = cargo

